.container {
  width: 100%;
  height: 100vh;
}
.box-shadow {
  width: 276px;
  height: 1009px;
  border-radius: 46px;
  margin-top: 42px;
}
.sidebar {
  width: 1319px;
  height: 879px;
  border-radius: 32px;
  background: linear-gradient(322deg, #f8f8ff 0%, #fff 100%);
  box-shadow: 0px 49px 32px -19px rgba(56, 56, 150, 0.15);
  margin-left: 61px;
}
.profile-info {
  width: 260px;
  height: 879px;
  border-radius: 20px 0 0 20px;
}
.profile-header {
  margin: 58px 44px 49px 38px;
}
.profile-info figure img {
  width: 55px;
  height: 55px;
}
.profile-details {
  width: 119px;
  height: 45px;
}

.nav-item:hover {
  border-left: 7px solid red;
}
.nav-item {
  width: 222px;
  height: 48px;
  padding: 8px 8px 8px 16px;
}
.logout-button {
  width: 254px;
  height: 48px;
  margin: auto;
  padding: 8px 16px;
  bottom: 29px;
}
.plan-info {
  width: 258px;
  height: 221px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px 8px 19px 0px rgba(223, 223, 253, 0.6);
  margin: 162px 50px auto auto;
}
.cancel-subscription-button:hover {
  background-color: #c24c4c;
}
.cancel-subscription-button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 205px;
  height: 40px;
}
.order-history {
  width: 120px;
  height: 48px;
  margin: 65px auto 49px 72px;
}
.order-history-info {
  margin-top: 49px;
  width: 315px;
  height: 49px;
}
.content-section {
  width: 100%;
}
.table-container {
  margin: 50px auto auto -15px;
}
.table-header {
  padding: 0px 16px;
  width: 555px;
  height: 21px;
}
.table-row {
  padding: 8px 16px;
  border-radius: 8px;
  width: 614px;
  height: 56px;
}
.table-row:hover {
  background: #fff;
  box-shadow: 0px 8px 19px 0px rgba(223, 223, 253, 0.6);
}
.table-action {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #cbcbd9;
  width: 114px;
  height: 40px;
}
.load-more a {
  text-decoration-line: underline;
}
.payment-method {
  width: 320px;
  height: 49px;
  margin-top: 81px;
}
.payment {
  width: 601px;
  height: 58px;
  margin-top: 22px;
}
.remove-button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #cbcbd9;
}
.remove-button:hover {
  background: #fff;
  box-shadow: 0px 8px 19px 0px rgba(223, 223, 253, 0.6);
}
.payment-detail {
  width: 384px;
  height: 24px;
}
